# Limpeza de Dados - Exercícios

Resolva os exercícios propostos abaixo. Os exercícios usam um dataset de reclamações registradas por cidadãos. O detaset foi derivado de dados do [Portal de Dados Abertos da Prefeitura de Curitiba](https://www.curitiba.pr.gov.br/DADOSABERTOS/).

## Leitura e análise inicial dos dados

Inicie um DataFrame a partir do arquivo `2017-02-01_156_-_Base_de_Dados_sample.csv`. Exiba algumas linhas e informações sobre os tipos identificados automaticamente pelo Pandas.

**Dica:** Caso o arquivo não seja separado por vírgulas, o Pandas não conseguirá reconhecer os campos adequadamente. Você precisará fornecer o parâmetro `sep=';'` para indicar o separador correto (neste caso, o `;`).

**Dica:** Aplicativos modernos tendem a armazenar arquivos no formato UTF-8, mas é comum encontrar arquivos codificados em outros formatos. Caso você tenha problemas para ler o arquivo, utilize o parâmetro `encoding='latin-1'` para selecionar o encoding correto (*latin-1* neste exemplo).

In [5]:
#importação de bibliotecas
import pandas as pd

%matplotlib inline


# lê o arquivo CSV
df = pd.read_csv('../data/2017-02-01_156_-_Base_de_Dados_sample.csv', sep=';', encoding='latin-1')

Visualize algumas linhas de dados:

In [6]:
df.head(10)

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
0,6669771,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/11/2016,21:02:44,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"ANDRE DE BARROS, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,Abordagem realizada. Pessoa foi orientada quan...
1,6718351,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,00:40:04,ABORDAGEM SOCIAL DE RUA - ADULTO,PERDIDA/DESORIENTADA,ABORDAGEM SOCIAL DE RUA - ADULTO - PERDIDA/DES...,"NILO CAIRO, 0",CENTRO,Unidade Regional Matriz,NENHUM,"NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL, RELATA E...",M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
2,6702371,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,07/12/2016,14:09:42,ABORDAGEM SOCIAL DE RUA - CRIANÇA,ALCOOLIZADAS/DROGADAS,ABORDAGEM SOCIAL DE RUA - CRIANÇA - ALCOOLIZAD...,"VISCONDE DE NACAR, 1210",CENTRO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"- EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A..."
3,6718692,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,13:28:27,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NaN,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já foi abordada nesta ...
4,6704503,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/12/2016,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,M,NaN,NaN,04/06/1997,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já faz parte da rede d...
5,6672832,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,12/11/2016,02:29:24,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"XV DE NOVEMBRO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO INFORMOU NUMERAÇÃO PREDIAL.,M,NaN,NaN,29/12/1971,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já faz parte da rede d...
6,6712943,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,17/12/2016,16:06:04,TRÂNSITO,VEÍCULO ESTACIONADO - GUIA REBAIXADA,TRÂNSITO - VEÍCULO ESTACIONADO - GUIA REBAIXADA,"CRUZ MACHADO, 396",CENTRO,Unidade Regional Matriz,TELEFONE,NaN,M,NaN,NaN,NaN,CIDADÃO,SECRETARIA MUNICIPAL DE TRÂNSITO,Informamos que o atendimento aos pedidos para ...
7,6733811,INFORMAÇÃO,SECRETARIA MUNICIPAL DA SAÚDE,11/01/2017,12:11:12,CRM-AF/SMS,RECURSOS MATERIAIS - MEDICAMENTOS,CRM-AF/SMS - RECURSOS MATERIAIS - MEDICAMENTOS,"JAIME REIS, 331",SAO FRANCISCO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,04/08/1957,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,Alendronato de sódio 70 mg e Carbonato de cálc...
8,6710218,INFORMAÇÃO,SECRETARIA MUNICIPAL DA SAÚDE,14/12/2016,10:19:29,CRM-AF/SMS,RECURSOS MATERIAIS - MEDICAMENTOS,CRM-AF/SMS - RECURSOS MATERIAIS - MEDICAMENTOS,"JAIME REIS, 331",SAO FRANCISCO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,18/08/1938,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,ALENDRONATO DE SÓDIO 70 MG E CARBONATO DE CÁL...
9,6701219,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,06/12/2016,19:01:01,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"BARAO DO RIO BRANCO, 720",CENTRO,Unidade Regional Matriz,NENHUM,HOMEM USA CAMISA PRETA CALÇA JEANS E TÊNIS BRA...,M,NaN,NaN,13/02/1980,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."

Use o método `info` para exibir as colunas e os tipos identificados.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7013 entries, 0 to 7012
Data columns (total 20 columns):
SOLICITACAO         7013 non-null int64
TIPO                7013 non-null object
ORGAO               7013 non-null object
DATA                7013 non-null object
HORARIO             7013 non-null object
ASSUNTO             7013 non-null object
SUBDIVISAO          7013 non-null object
DESCRICAO           7013 non-null object
LOGRADOURO_ASS      7013 non-null object
BAIRRO_ASS          7013 non-null object
REGIONAL_ASS        7011 non-null object
MEIO_RESPOSTA       7013 non-null object
OBSERVACAO          3786 non-null object
SEXO                7013 non-null object
BAIRRO_CIDADAO      6897 non-null object
REGIONAL_CIDADAO    6757 non-null object
DATA_NASC           6889 non-null object
TIPO_CIDADAO        7013 non-null object
ORGAO_RESP          7013 non-null object
RESPOSTA_FINAL      7010 non-null object
dtypes: int64(1), object(19)
memory usage: 1.1+ MB

Estamos interessados apenas nos seguintes campos: 'DATA', 'HORARIO', 'SUBDIVISAO', 'BAIRRO_ASS', 'SEXO', 'DATA_NASC', 'RESPOSTA_FINAL'

Crie (ou substitua) um DataFrame contendo apenas os campos acima.

In [8]:
df = df[['DATA', 'HORARIO', 'ASSUNTO', 'BAIRRO_ASS', 'SEXO', 'DATA_NASC', 'RESPOSTA_FINAL']]

df.head()

,DATA,HORARIO,ASSUNTO,BAIRRO_ASS,SEXO,DATA_NASC,RESPOSTA_FINAL
0,09/11/2016,21:02:44,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,NaN,Abordagem realizada. Pessoa foi orientada quan...
1,27/12/2016,00:40:04,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,NaN,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
2,07/12/2016,14:09:42,ABORDAGEM SOCIAL DE RUA - CRIANÇA,CENTRO,F,NaN,"- EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A..."
3,27/12/2016,13:28:27,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,NaN,A pessoa da solicitação já foi abordada nesta ...
4,09/12/2016,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,04/06/1997,A pessoa da solicitação já faz parte da rede d...

## Localizando e tratando valores inválidos

Exiba todas as linhas com valores em branco (*NaN*).

In [9]:
df[df.isna().any(axis=1)]

,DATA,HORARIO,ASSUNTO,BAIRRO_ASS,SEXO,DATA_NASC,RESPOSTA_FINAL
0,09/11/2016,21:02:44,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,NaN,Abordagem realizada. Pessoa foi orientada quan...
1,27/12/2016,00:40:04,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,NaN,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
2,07/12/2016,14:09:42,ABORDAGEM SOCIAL DE RUA - CRIANÇA,CENTRO,F,NaN,"- EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A..."
3,27/12/2016,13:28:27,ABORDAGEM SOCIAL DE RUA - ADULTO,CENTRO,M,NaN,A pessoa da solicitação já foi abordada nesta ...
6,17/12/2016,16:06:04,TRÂNSITO,CENTRO,M,NaN,Informamos que o atendimento aos pedidos para ...
...,...,...,...,...,...,...,...
6966,07/11/2016,21:40:23,ATENDIMENTO SOCIAL EM DOMICÍLIO - CRIANÇA,SITIO CERCADO,F,NaN,24 - SOLICITAÇÃO ATENDIDA EM DOMICÍLIO E ENCER...
6967,08/12/2016,10:29:23,ATENDIMENTO SOCIAL EM DOMICÍLIO - CRIANÇA,CAPAO RASO,M,NaN,24 - SOLICITAÇÃO ATENDIDA EM DOMICÍLIO E ENCER...
6968,10/01/2017,10:36:48,ATENDIMENTO SOCIAL EM DOMICÍLIO - CRIANÇA,CIDADE INDUSTRIAL,M,NaN,23 - SOLICITAÇÃO ATENDIDA EM DOMICÍLIO E ENCER...
6969,05/12/2016,10:48:33,ATENDIMENTO SOCIAL EM DOMICÍLIO - CRIANÇA,CIDADE INDUSTRIAL,F,NaN,24 - SOLICITAÇÃO ATENDIDA EM DOMICÍLIO E ENCER...
6970,12/01/2017,15:48:12,ATENDIMENTO SOCIAL EM DOMICÍLIO - CRIANÇA,CAMPO COMPRIDO,F,NaN,23 - SOLICITAÇÃO ATENDIDA EM DOMICÍLIO E ENCER...

Exclua todas as linhas que contenham algum valor nulo (*NaN*). Verifique se todas as linhas com valores em branco foram excluídas corretamente.

In [10]:
df = df.dropna(how='any')

df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [DATA, HORARIO, ASSUNTO, BAIRRO_ASS, SEXO, DATA_NASC, RESPOSTA_FINAL]
Index: []

Faça com que todos os nomes de bairros fiquem em letras minúsculas.

In [11]:
df['BAIRRO_ASS'] = df['BAIRRO_ASS'].str.lower()

df.head()

,DATA,HORARIO,ASSUNTO,BAIRRO_ASS,SEXO,DATA_NASC,RESPOSTA_FINAL
4,09/12/2016,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,04/06/1997,A pessoa da solicitação já faz parte da rede d...
5,12/11/2016,02:29:24,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,29/12/1971,A pessoa da solicitação já faz parte da rede d...
7,11/01/2017,12:11:12,CRM-AF/SMS,sao francisco,F,04/08/1957,Alendronato de sódio 70 mg e Carbonato de cálc...
8,14/12/2016,10:19:29,CRM-AF/SMS,sao francisco,F,18/08/1938,ALENDRONATO DE SÓDIO 70 MG E CARBONATO DE CÁL...
9,06/12/2016,19:01:01,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,13/02/1980,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."

## Conversão de tipos, criação de coluna e escrita em CSV

Exiba os tipos das colunas do DataFrame.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6886 entries, 4 to 7012
Data columns (total 7 columns):
DATA              6886 non-null object
HORARIO           6886 non-null object
ASSUNTO           6886 non-null object
BAIRRO_ASS        6886 non-null object
SEXO              6886 non-null object
DATA_NASC         6886 non-null object
RESPOSTA_FINAL    6886 non-null object
dtypes: object(7)
memory usage: 430.4+ KB

- Converta os campos de data para o formato DateTime. 
- Crie uma nova coluna chamada HORA, contendo apenas o componete hora do horário da reclamação (dica: use os comandos str.split e str.get)
- Converta a coluna HORA para Inteiro

In [13]:
df['DATA'] = pd.to_datetime(df['DATA'])

df['DATA_NASC'] = pd.to_datetime(df['DATA_NASC'])

df['HORA'] = df['HORARIO'].str.split(':').str.get(0).astype(int)

df.head()

,DATA,HORARIO,ASSUNTO,BAIRRO_ASS,SEXO,DATA_NASC,RESPOSTA_FINAL,HORA
4,2016-09-12,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1997-04-06,A pessoa da solicitação já faz parte da rede d...,1
5,2016-12-11,02:29:24,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1971-12-29,A pessoa da solicitação já faz parte da rede d...,2
7,2017-11-01,12:11:12,CRM-AF/SMS,sao francisco,F,1957-04-08,Alendronato de sódio 70 mg e Carbonato de cálc...,12
8,2016-12-14,10:19:29,CRM-AF/SMS,sao francisco,F,1938-08-18,ALENDRONATO DE SÓDIO 70 MG E CARBONATO DE CÁL...,10
9,2016-06-12,19:01:01,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1980-02-13,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P...",19

Crie uma coluna chamada `IDADE` contendo a diferença entre o ano da reclamação e o ano de nascimento da pessoa.

**Dica:** Para extrair o ano de uma coluna do tipo data, use a propriedade `dt.year`. Por exemplo: `df['DATA'].dt.year`.

In [14]:
df['IDADE'] = df['DATA'].dt.year - df['DATA_NASC'].dt.year

df.head()

,DATA,HORARIO,ASSUNTO,BAIRRO_ASS,SEXO,DATA_NASC,RESPOSTA_FINAL,HORA,IDADE
4,2016-09-12,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1997-04-06,A pessoa da solicitação já faz parte da rede d...,1,19
5,2016-12-11,02:29:24,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1971-12-29,A pessoa da solicitação já faz parte da rede d...,2,45
7,2017-11-01,12:11:12,CRM-AF/SMS,sao francisco,F,1957-04-08,Alendronato de sódio 70 mg e Carbonato de cálc...,12,60
8,2016-12-14,10:19:29,CRM-AF/SMS,sao francisco,F,1938-08-18,ALENDRONATO DE SÓDIO 70 MG E CARBONATO DE CÁL...,10,78
9,2016-06-12,19:01:01,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1980-02-13,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P...",19,36

Verifique se as colunas foram corretamente convertidas para os tipos corretos.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6886 entries, 4 to 7012
Data columns (total 9 columns):
DATA              6886 non-null datetime64[ns]
HORARIO           6886 non-null object
ASSUNTO           6886 non-null object
BAIRRO_ASS        6886 non-null object
SEXO              6886 non-null object
DATA_NASC         6886 non-null datetime64[ns]
RESPOSTA_FINAL    6886 non-null object
HORA              6886 non-null int64
IDADE             6886 non-null int64
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 538.0+ KB

Identifique outliers na coluna `IDADE`. Remova do DataFrame todas as reclamações de pessoas com idades muito baixas.

In [16]:
df = df[df['IDADE'] > 12]

df.head()

,DATA,HORARIO,ASSUNTO,BAIRRO_ASS,SEXO,DATA_NASC,RESPOSTA_FINAL,HORA,IDADE
4,2016-09-12,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1997-04-06,A pessoa da solicitação já faz parte da rede d...,1,19
5,2016-12-11,02:29:24,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1971-12-29,A pessoa da solicitação já faz parte da rede d...,2,45
7,2017-11-01,12:11:12,CRM-AF/SMS,sao francisco,F,1957-04-08,Alendronato de sódio 70 mg e Carbonato de cálc...,12,60
8,2016-12-14,10:19:29,CRM-AF/SMS,sao francisco,F,1938-08-18,ALENDRONATO DE SÓDIO 70 MG E CARBONATO DE CÁL...,10,78
9,2016-06-12,19:01:01,ABORDAGEM SOCIAL DE RUA - ADULTO,centro,M,1980-02-13,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P...",19,36

Salve o DataFrame em um arquivo CSV chamado `../data/2017-02-01_156_-_Base_de_Dados_sample-limpo.csv`. Use o parâmetro `index=False` para não incluir o índice no aquivo gerado.

In [17]:
df.to_csv('../data/2017-02-01_156_-_Base_de_Dados_sample-limpo.csv', index=False)